* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0px;
}

header {
    height: 250px;
    padding-top: 150px;
    background-color: rgb(10, 170, 226);
}

nav {
    width: 50%;
    height: 100px;
    margin-left: 50%;
    background-color: rgb(16, 199, 111);
}

#principal {
    margin-top: 20px;
    padding: 20px 0;
    background-color: rgb(255, 220, 39);
}

#principal article {
    display: inline-block;
    width: 28%;
    height: 300px;
    margin: 0 2.66%;
    background-color: rgb(255, 152, 43);
}

#secundario {
    margin-top: 20px;
    padding: 20px 0;
    background-color: rgb(238, 238, 238);
}

#secundario article {
    display: inline-block;
    height: 400px;
}

.grande {
    width: 65%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: rgb(196, 228, 228);
}

.pequeno {
    width: 27.5%;
    margin-right: 2.5%;
    background-color: #d7eb77;
}

footer {
    height: 65px;
    background-color: rgb(10, 170, 226);
}